{{define "footer"}}

<div class="container">
    <div class="row">
        <div class="col text-center">
        <hr>
        <small class="text-muted">Copyright &copy; nid.xyz</small>
        </div>
    </div>
</div>

{{end}}